In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
df = pd.read_csv("Top_20_Youtuber_In_World.csv", encoding='ISO-8859-1')
df

,Rank,Username,Categories,Suscribers,Country,Visits,Likes,Comments
0,1,tseries,Entertainment,"249,500,000",IN,"86,200","2,700",78
1,2,MrBeast,Entertainment,"183,500,000",US,"117,400,000","5,300,000","18,500"
2,3,CoComelon,Music,"165,500,000",US,"7,000,000","24,700",0
3,4,SETIndia,Entertainment,"162,600,000",IN,"15,600",166,9
4,5,KidsDianaShow,Hobby,"113,500,000",US,"3,900,000","12,400",0
5,6,PewDiePie,Action_game,"111,500,000",JP,"2,400,000","197,300","4,900"
6,7,LikeNastyaofficial,Lifestyle_(sociology),"107,500,000",US,"2,600,000","28,000",0
7,8,VladandNiki,Hobby,"101,400,000",US,"4,100,000","22,100",0
8,9,zeemusiccompany,Music_of_Asia,"99,700,000",IN,"74,300","2,600",32
9,10,WWE,Entertainment,"97,200,000",US,"184,500","6,300",214
10,11,BLACKPINK,Music,"91,300,000",KR,"863,200","146,900","3,400"
11,12,GoldminesTelefilms,Entertainment,"89,700,000",IN,"34,600",421,13
12,13,SonySAB,Film,"85,400,000",IN,"35,500",615,21
13,14,5MinuteCraftsYouTube,Lifestyle_(sociology),"80,300,000",US,"164,600",703,35
14,15,BTS,Music,"76,500,000",KR,"969,700","180,300","7,400"
15,16,HYBELABELS,Pop_music,"72,700,000",KR,"440,700","23,900",932
16,17,zeetv,Entertainment,"72,500,000",IN,"7,300",144,1
17,18,Pinkfong,Entertainment,"69,600,000",US,"506,400",397,0
18,19,ChuChuTV,Film,"67,500,000",IN,"652,100","17,800",0
19,20,KondZilla,Hip_hop_music,"66,600,000",BR,"30,400","1,100",4

In [12]:
df['Suscribers'] = df['Suscribers'].str.replace(',', '').astype(int)

In [14]:
df['Visits'] = df['Visits'].str.replace(',', '').astype(int)

In [15]:
df['Likes'] = df['Likes'].str.replace(',', '').astype(int)
df['Comments'] = df['Comments'].str.replace(',', '').astype(int)

In [19]:
df = df.head(10)

In [20]:
df.to_csv("Top_10_Youtuber_In_World.csv", index=False)